<div class="banner">
  <div class="titre">
    <h1>MidgetSet</h1>
    <h3>Little dwarf, for big fun !</h3>
  </div>
  <div class="butt">
    <%= link_to "Discover our dwarves", dwarves_path, class:"text-decoration-none text-white" %>
  </div>
</div>

<div class="container-homepage">
  <h2>Our concept</h2>
  <div class="cards-homepage">
    <div class="card-homepage">
      <%= image_tag "idee.png", class: "card-img-homepage" %>
      <div class="card-body-homepage">
        <h4 class="card-title-homepage">Imagination is the limit</h4>
        <p class="card-text-homepage">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae</p>
      </div>
    </div>
    <div class="card-homepage">
      <%= image_tag "secret.png", class: "card-img-homepage" %>
      <div class="card-body-homepage">
        <h4 class="card-title-homepage">100% secret</h4>
        <p class="card-text-homepage">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae</p>
      </div>
    </div>
    <div class="card-homepage">
      <%= image_tag "champagne-glass.png", class: "card-img-homepage" %>
      <div class="card-body-homepage">
        <h4 class="card-title-homepage">Unforgetable party</h4>
        <p class="card-text-homepage">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae</p>
      </div>
    </div>
  </div>
</div>

